@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Lora&family=Playfair+Display&display=swap');

body{
  font-family: 'Lora', serif;
}

.card-w{
  max-width: 22rem;
}

.text-paragraph{
  font-size: 16px;
}