@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Lora&family=Playfair+Display&display=swap');

body{
  font-family: 'Lora', serif;
}

.card-w{
  max-width: 22rem;
}

.text-paragraph{
  font-size: 16px;
}


/* IFRAMES */

/* navbar */
.titlebar-iframe{
  min-width: 100%;
}

/* navbar */
.navbar-iframe{
  min-width: 100%;
  max-height: 10rem;
}

/* news_card */
.card-iframe {
  min-width: 22rem;
  min-height: 36rem;
  max-width: 22rem;
  max-height: 36rem;
} 

.newsfeed-iframe {
    height: 1000px;
    width: 2000px;
    min-width: 1000px;
    max-height: 1000px;
}


.newscontent-iframe {
    height: 1000px;
    width: 2000px;
    min-width: 1000px;
    max-height: 1000px;
}